@{
    Layout = "~/Views/Shared/_Inicio.cshtml";
}

<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Generar Asistencia</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="@Url.Action("Inicio","Administrador")">Inicio</a></li>
                        <li class="breadcrumb-item active">Generar Asistencia</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="card card-success">
                        <div class="card-header">
                            <h3 class="card-title">Seleccione los filtros necesarios</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body" style="display: block;">
                            <div id="contenedorOpciones"></div>
                            <div id="contenedorMensajes"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div id="contenedorAsistencia"></div>
                </div>
            </div>
        </div>
    </section>
</div>

<script type="text/javascript">        
    function generarAsistencia() {
        var _idConfigurarSemestreEncriptado = $('#selectModulo').val();
        $.ajax({
            url: '@Url.Action("GenerarAsistencia", "Asistencia")',
            type: 'post',
            dataType: 'JSON',
            data: { _idConfigurarSemestreEncriptado: _idConfigurarSemestreEncriptado },
            beforeSend: function () {
                $("#contenedorAsistencia").html('<div class="text-center"><img style="margin:0 auto 0 auto; text-aling:center; height: 150px;" src="@Url.Content("~/Content/img/cargando.gif")"></div>');
                
            },
            uploadProgress: function (event, position, total, percentComplete) {
            },
            success: function (data) {
                if (data.validar == true) {
                    $("#contenedorAsistencia").html(data.tabla);
                } else {
                    $("#contenedorAsistencia").html("");
                    $("#contenedorMensajes").html(data.mensaje);
                }
            },
            complete: function () {
            },
            error: function (xhr, textStatus, errorThrown) {

                if (xhr.status === 0) {
                    $("#contenedorMensajes").html('<div class="alert alert-danger text-center" role="alert">NO HAY CONEXIÓN A INTERNET. VERIFICA LA RED</div>');
                } else if (xhr.status == 404) {
                    $("#contenedorMensajes").html('<div class="alert alert-danger text-center" role="alert">ERROR [404]. PÁGINA NO ENCONTRADA</div>');
                } else if (xhr.status == 500) {
                    $("#contenedorMensajes").html('<div class="alert alert-danger text-center" role="alert">ERROR DEL SERVIDOR [500]</div>');
                } else if (errorThrown === 'parsererror') {
                    $("#contenedorMensajes").html('<div class="alert alert-danger text-center" role="alert">LA PETICIÓN JSON HA FALLADO </div>');
                } else if (errorThrown === 'timeout') {
                    $("#contenedorMensajes").html('<div class="alert alert-danger text-center" role="alert">TIEMPO DE ESPERA TERMINADO</div>');
                } else if (errorThrown === 'abort') {
                    $("#contenedorMensajes").html('<div class="alert alert-danger text-center" role="alert">LA PETICIÓN AJAX FUE ABORTADA</div>');
                } else {
                    $("#contenedorMensajes").html('<div class="alert alert-danger text-center" role="alert">OCURRIÓ UN ERROR INESPERADO</div>');
                }
            }
        });
    }

    function generarAsistenciaPrevia() {
        var _idConfigurarSemestreEncriptado = $('#selectModulo').val();
        $.ajax({
            url: '@Url.Action("GenerarAsistenciaPrevia", "Asistencia")',
            type: 'post',
            dataType: 'JSON',
            data: { _idConfigurarSemestreEncriptado: _idConfigurarSemestreEncriptado },
            beforeSend: function () {
                $("#contenedorMensajes").html('<div class="text-center"><img style="margin:0 auto 0 auto; text-aling:center; height: 150px;" src="@Url.Content("~/Content/img/cargando.gif")"></div>');
                
            },
            uploadProgress: function (event, position, total, percentComplete) {
            },
            success: function (data) {
                if (data.validar == true) {
                    $("#contenedorMensajes").html("");
                    if (data.asistenciaGenerada == false) {
                        $("#contenedorAsistencia").html(data.tabla);
                    }
                    else {
                        generarAsistencia();
                    }
                } else {
                    $("#contenedorMensajes").html(data.mensaje);
                }
            },
            complete: function () {
            },
            error: function (xhr, textStatus, errorThrown) {

                if (xhr.status === 0) {
                    $("#contenedorMensajes").html('<div class="alert alert-danger text-center" role="alert">NO HAY CONEXIÓN A INTERNET. VERIFICA LA RED</div>');
                } else if (xhr.status == 404) {
                    $("#contenedorMensajes").html('<div class="alert alert-danger text-center" role="alert">ERROR [404]. PÁGINA NO ENCONTRADA</div>');
                } else if (xhr.status == 500) {
                    $("#contenedorMensajes").html('<div class="alert alert-danger text-center" role="alert">ERROR DEL SERVIDOR [500]</div>');
                } else if (errorThrown === 'parsererror') {
                    $("#contenedorMensajes").html('<div class="alert alert-danger text-center" role="alert">LA PETICIÓN JSON HA FALLADO </div>');
                } else if (errorThrown === 'timeout') {
                    $("#contenedorMensajes").html('<div class="alert alert-danger text-center" role="alert">TIEMPO DE ESPERA TERMINADO</div>');
                } else if (errorThrown === 'abort') {
                    $("#contenedorMensajes").html('<div class="alert alert-danger text-center" role="alert">LA PETICIÓN AJAX FUE ABORTADA</div>');
                } else {
                    $("#contenedorMensajes").html('<div class="alert alert-danger text-center" role="alert">OCURRIÓ UN ERROR INESPERADO</div>');
                }
            }
        });
    }
</script>


<script type="text/javascript">
    
        function cambiarModulosPorSemestre() {
        var _idMaestriaEncriptado = $('#selectMaestria').val();
        var _idCohorteEncriptado = $('#selectCohorte').val();
        var _idSemestreEncriptado = $('#selectSemestre').val();
            if (_idMaestriaEncriptado == "0" || _idCohorteEncriptado == "0" || _idSemestreEncriptado == "0") {
                $("#contenedorAsistencia").html("");
            $("#contenedorMensajes").html("");
            $("#contenedorHorarios").html("");
            $("#selectModulo").html("<option value='0'>SELECCIONE UN MÓDULO</option");
        }
        else {
            $.ajax({
                url: '@Url.Action("Cambiarmodulosporsemestre", "ConfigurarHorario")',
                type: 'post',
                dataType: 'JSON',
                data: { _idMaestriaEncriptado: _idMaestriaEncriptado, _idCohorteEncriptado: _idCohorteEncriptado, _idSemestreEncriptado: _idSemestreEncriptado },
                beforeSend: function () {
                    $("#selectModulo").html("<option value='0'>CARGANDO...</option");
                    $("#contenedorMensajes").html("");
                    $("#contenedorHorarios").html("");
                },
                uploadProgress: function (event, position, total, percentComplete) {
                },
                success: function (data) {
                    if (data.validar == true) {
                        $("#contenedorAsistencia").html("");
                        $("#selectModulo").html(data.tabla);
                    } else {
                        $("#contenedorMensajes").html(data.mensaje);
                        $("#selectModulo").html("<option value='0'>SELECCIONE UN MÓDULO</option");
                    }
                },
                complete: function () {
                },
                error: function (xhr, textStatus, errorThrown) {

                    $("#selectModulo").html("<option value='0'>SELECCIONE UN MÓDULO</option");
                    if (xhr.status === 0) {
                        $("#contenedorMensajes").html('<div class="alert alert-danger text-center" role="alert">NO HAY CONEXIÓN A INTERNET. VERIFICA LA RED</div>');
                    } else if (xhr.status == 404) {
                        $("#contenedorMensajes").html('<div class="alert alert-danger text-center" role="alert">ERROR [404]. PÁGINA NO ENCONTRADA</div>');
                    } else if (xhr.status == 500) {
                        $("#contenedorMensajes").html('<div class="alert alert-danger text-center" role="alert">ERROR DEL SERVIDOR [500]</div>');
                    } else if (errorThrown === 'parsererror') {
                        $("#contenedorMensajes").html('<div class="alert alert-danger text-center" role="alert">LA PETICIÓN JSON HA FALLADO </div>');
                    } else if (errorThrown === 'timeout') {
                        $("#contenedorMensajes").html('<div class="alert alert-danger text-center" role="alert">TIEMPO DE ESPERA TERMINADO</div>');
                    } else if (errorThrown === 'abort') {
                        $("#contenedorMensajes").html('<div class="alert alert-danger text-center" role="alert">LA PETICIÓN AJAX FUE ABORTADA</div>');
                    } else {
                        $("#contenedorMensajes").html('<div class="alert alert-danger text-center" role="alert">OCURRIÓ UN ERROR INESPERADO</div>');
                    }
                }
            });
        }
    }
    function cambiarSemestrePorCohorte() {
        var _idMaestriaEncriptado = $('#selectMaestria').val();
        var _idCohorteEncriptado = $('#selectCohorte').val();
        if (_idMaestriaEncriptado == "0" || _idCohorteEncriptado == "0") {
            $("#contenedorAsistencia").html("");
            $("#contenedorMensajes").html("");
            $("#contenedorHorarios").html("");
            $("#selectSemestre").html("<option value='0'>SELECCIONE UN SEMESTRE</option");
            $("#selectSemestre").html("<option value='0'>SELECCIONE UN SEMESTRE</option");
            $("#selectModulo").html("<option value='0'>SELECCIONE UN MÓDULO</option");
        }
        else {
            $.ajax({
                url: '@Url.Action("Cambiarsemestreporcohorte", "ConfigurarHorario")',
                type: 'post',
                dataType: 'JSON',
                data: { _idMaestriaEncriptado: _idMaestriaEncriptado, _idCohorteEncriptado: _idCohorteEncriptado },
                beforeSend: function () {
                    $("#contenedorAsistencia").html("");
                    $("#selectSemestre").html("<option value='0'>CARGANDO...</option");
                    $("#selectModulo").html("<option value='0'>SELECCIONE UN MÓDULO</option");
                    $("#contenedorMensajes").html("");
                    $("#contenedorHorarios").html("");
                },
                uploadProgress: function (event, position, total, percentComplete) {
                },
                success: function (data) {
                    if (data.validar == true) {
                        $("#selectSemestre").html(data.tabla);
                    } else {
                        $("#contenedorMensajes").html(data.mensaje);
                        $("#selectSemestre").html("<option value='0'>SELECCIONE UN SEMESTRE</option");
                    }
                },
                complete: function () {
                },
                error: function (xhr, textStatus, errorThrown) {

                    $("#selectSemestre").html("<option value='0'>SELECCIONE UN SEMESTRE</option");
                    if (xhr.status === 0) {
                        $("#contenedorMensajes").html('<div class="alert alert-danger text-center" role="alert">NO HAY CONEXIÓN A INTERNET. VERIFICA LA RED</div>');
                    } else if (xhr.status == 404) {
                        $("#contenedorMensajes").html('<div class="alert alert-danger text-center" role="alert">ERROR [404]. PÁGINA NO ENCONTRADA</div>');
                    } else if (xhr.status == 500) {
                        $("#contenedorMensajes").html('<div class="alert alert-danger text-center" role="alert">ERROR DEL SERVIDOR [500]</div>');
                    } else if (errorThrown === 'parsererror') {
                        $("#contenedorMensajes").html('<div class="alert alert-danger text-center" role="alert">LA PETICIÓN JSON HA FALLADO </div>');
                    } else if (errorThrown === 'timeout') {
                        $("#contenedorMensajes").html('<div class="alert alert-danger text-center" role="alert">TIEMPO DE ESPERA TERMINADO</div>');
                    } else if (errorThrown === 'abort') {
                        $("#contenedorMensajes").html('<div class="alert alert-danger text-center" role="alert">LA PETICIÓN AJAX FUE ABORTADA</div>');
                    } else {
                        $("#contenedorMensajes").html('<div class="alert alert-danger text-center" role="alert">OCURRIÓ UN ERROR INESPERADO</div>');
                    }
                }
            });
        }
    }
     function cambiarCohortePorMaestria() {
        var _idMaestriaEncriptado = $('#selectMaestria').val();
         if (_idMaestriaEncriptado == "0") {
             $("#contenedorAsistencia").html("");
            $("#contenedorMensajes").html("");
            $("#contenedorHorarios").html("");
            $("#selectCohorte").html("<option value='0'>SELECCIONE UNA COHORTE</option");
            $("#selectSemestre").html("<option value='0'>SELECCIONE UN SEMESTRE</option");
            $("#selectModulo").html("<option value='0'>SELECCIONE UN MÓDULO</option");
        }
        else {
            $.ajax({
                url: '@Url.Action("Cambiarcohortepormaestria", "ConfigurarHorario")',
                type: 'post',
                dataType: 'JSON',
                data: { _idMaestriaEncriptado: _idMaestriaEncriptado },
                beforeSend: function () {
                    $("#contenedorAsistencia").html("");
                    $("#selectCohorte").html("<option value='0'>CARGANDO...</option");
                    $("#selectSemestre").html("<option value='0'>SELECCIONE UN SEMESTRE</option");
                    $("#selectModulo").html("<option value='0'>SELECCIONE UN MÓDULO</option");
                    $("#contenedorMensajes").html("");
                    $("#contenedorHorarios").html("");
                },
                uploadProgress: function (event, position, total, percentComplete) {
                },
                success: function (data) {
                    if (data.validar == true) {
                        $("#selectCohorte").html(data.tabla);
                    } else {
                        $("#contenedorMensajes").html(data.mensaje);
                        $("#selectCohorte").html("<option value='0'>SELECCIONE UNA COHORTE</option");
                    }
                },
                complete: function () {
                },
                error: function (xhr, textStatus, errorThrown) {
                    $("#selectCohorte").html("<option value='0'>SELECCIONE UNA COHORTE</option");
                    if (xhr.status === 0) {
                        $("#contenedorMensajes").html('<div class="alert alert-danger text-center" role="alert">NO HAY CONEXIÓN A INTERNET. VERIFICA LA RED</div>');
                    } else if (xhr.status == 404) {
                        $("#contenedorMensajes").html('<div class="alert alert-danger text-center" role="alert">ERROR [404]. PÁGINA NO ENCONTRADA</div>');
                    } else if (xhr.status == 500) {
                        $("#contenedorMensajes").html('<div class="alert alert-danger text-center" role="alert">ERROR DEL SERVIDOR [500]</div>');
                    } else if (errorThrown === 'parsererror') {
                        $("#contenedorMensajes").html('<div class="alert alert-danger text-center" role="alert">LA PETICIÓN JSON HA FALLADO </div>');
                    } else if (errorThrown === 'timeout') {
                        $("#contenedorMensajes").html('<div class="alert alert-danger text-center" role="alert">TIEMPO DE ESPERA TERMINADO</div>');
                    } else if (errorThrown === 'abort') {
                        $("#contenedorMensajes").html('<div class="alert alert-danger text-center" role="alert">LA PETICIÓN AJAX FUE ABORTADA</div>');
                    } else {
                        $("#contenedorMensajes").html('<div class="alert alert-danger text-center" role="alert">OCURRIÓ UN ERROR INESPERADO</div>');
                    }
                }
            });
        }
    }
</script>

    <script type="text/javascript">
    $(document).ready(function () {
        CargarFormulario();
    });

    function CargarFormulario() {
        $.ajax({
            url: '@Url.Action("Cargarformulario", "Asistencia")',
            type: 'post',
            dataType: 'JSON',
            beforeSend: function () {
                $("#contenedorOpciones").html('<div class="text-center"><img style="margin:0 auto 0 auto; text-aling:center; height: 150px;" src="@Url.Content("~/Content/img/cargando.gif")"></div>');
            },
            uploadProgress: function (event, position, total, percentComplete) {
            },
            success: function (data) {
                if (data.validar == true) {
                    $("#contenedorOpciones").html(data.tabla);
                } else {
                    $("#contenedorOpciones").html(data.mensaje);
                }
            },
            complete: function () {
            },
            error: function (xhr, textStatus, errorThrown) {
                if (xhr.status === 0) {
                    $("#contenedorOpciones").html('<div class="alert alert-danger text-center" role="alert">NO HAY CONEXIÓN A INTERNET. VERIFICA LA RED</div>');
                } else if (xhr.status == 404) {
                    $("#contenedorOpciones").html('<div class="alert alert-danger text-center" role="alert">ERROR [404]. PÁGINA NO ENCONTRADA</div>');
                } else if (xhr.status == 500) {
                    $("#contenedorOpciones").html('<div class="alert alert-danger text-center" role="alert">ERROR DEL SERVIDOR [500]</div>');
                } else if (errorThrown === 'parsererror') {
                    $("#contenedorOpciones").html('<div class="alert alert-danger text-center" role="alert">LA PETICIÓN JSON HA FALLADO </div>');
                } else if (errorThrown === 'timeout') {
                    $("#contenedorOpciones").html('<div class="alert alert-danger text-center" role="alert">TIEMPO DE ESPERA TERMINADO</div>');
                } else if (errorThrown === 'abort') {
                    $("#contenedorOpciones").html('<div class="alert alert-danger text-center" role="alert">LA PETICIÓN AJAX FUE ABORTADA</div>');
                } else {
                    $("#contenedorOpciones").html('<div class="alert alert-danger text-center" role="alert">OCURRIÓ UN ERROR INESPERADO</div>');
                }
            }
        });
    }
    </script>
