@{
    Layout = "~/Views/Shared/_Administrador.cshtml";
}

<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Configurar Horarios</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="@Url.Action("Inicio","Administrador")">Inicio</a></li>
                        <li class="breadcrumb-item active">Configurar Horariosss</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="card card-success">
                        <div class="card-header">
                            <h3 class="card-title">Formulario configurar horarios</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body" style="display: block;">
                            <div id="contenedorOpciones"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="contenedorMensajes"></div>
                    <div id="contenedorHorarios"></div>
                </div>
            </div>
        </div>
    </section>
</div>

<script>

    function eliminarHorario(_contador, _identificadorDia, _idHorarioEncriptado) {
        var _horario = $("#div" + _contador +"dia" + _identificadorDia).html();
        $.ajax({
            url: '@Url.Action("Eliminarhorario", "ConfigurarHorario")',
            type: 'post',
            dataType: 'JSON',
            data: {
                _contador: _contador,
                _identificadorDia: _identificadorDia, _idHorarioEncriptado: _idHorarioEncriptado
            },
            beforeSend: function () {
            },
            uploadProgress: function (event, position, total, percentComplete) {
            },
            success: function (data) {
                if (data.validar == true) {
                    $("#div" + _contador + "dia" + _identificadorDia).html("");
                } else {
                    $("#div" + _contador + "dia" + _identificadorDia).html(_horario);
                    $("#mensajeEliminar" + _identificadorDia).html(data.mensaje);
                    setTimeout(function () {
                        $("#mensajeEliminar" + _identificadorDia).html("");
                    }, 3000);
                }
            },
            complete: function () {
            },
            error: function (xhr, textStatus, errorThrown) {

                $("#div" + _contador + "dia" + _identificadorDia).html(_ingresoHorario);
                if (xhr.status === 0) {
                    $("#mensajeEliminar" + _identificadorDia).html('<div class="alert alert-danger text-center" role="alert">NO HAY CONEXIÓN A INTERNET. VERIFICA LA RED</div>');
                } else if (xhr.status == 404) {
                    $("#mensajeEliminar" + _identificadorDia).html('<div class="alert alert-danger text-center" role="alert">ERROR [404]. PÁGINA NO ENCONTRADA</div>');
                } else if (xhr.status == 500) {
                    $("#mensajeEliminar" + _identificadorDia).html('<div class="alert alert-danger text-center" role="alert">ERROR DEL SERVIDOR [500]</div>');
                } else if (errorThrown === 'parsererror') {
                    $("#mensajeEliminar" + _identificadorDia).html('<div class="alert alert-danger text-center" role="alert">LA PETICIÓN JSON HA FALLADO </div>');
                } else if (errorThrown === 'timeout') {
                    $("#mensajeEliminar" + _identificadorDia).html('<div class="alert alert-danger text-center" role="alert">TIEMPO DE ESPERA TERMINADO</div>');
                } else if (errorThrown === 'abort') {
                    $("#mensajeEliminar" + _identificadorDia).html('<div class="alert alert-danger text-center" role="alert">LA PETICIÓN AJAX FUE ABORTADA</div>');
                } else {
                    $("#mensajeEliminar" + _identificadorDia).html('<div class="alert alert-danger text-center" role="alert">OCURRIÓ UN ERROR INESPERADO</div>');
                }
            }
        });
    }

    function guardarHorario(_color, _contador, _identificadorDia, _idConfigurarSemestreEncriptado) {
        var _horaEntrada = $("#horaEntrada" + _identificadorDia).val();
        var _horaSalida = $("#horaSalida" + _identificadorDia).val();
        var _ingresoHorario = $("#div" + _contador +"dia" + _identificadorDia).html();
        $.ajax({
            url: '@Url.Action("Guardarhorario", "ConfigurarHorario")',
            type: 'post',
            dataType: 'JSON',
            data: {
                _color: _color, _contador: _contador,
                _identificadorDia: _identificadorDia, _idConfigurarSemestreEncriptado: _idConfigurarSemestreEncriptado,
                _horaEntrada: _horaEntrada, _horaSalida: _horaSalida
            },
            beforeSend: function () {
           },
            uploadProgress: function (event, position, total, percentComplete) {
            },
            success: function (data) {
                if (data.validar == true) {
                    $("#div" + _contador + "dia" + _identificadorDia).html(data.tabla);
                    $("#div" + _contador + "dia" + _identificadorDia).after(data.nuevo);
                } else {
                    $("#div" + _contador + "dia" + _identificadorDia).html(_ingresoHorario);
                    $("#mensaje" + _identificadorDia).html(data.mensaje);
                    setTimeout(function () {
                        $("#mensaje" + _identificadorDia).html("");
                    }, 3000);
                }
            },
            complete: function () {
            },
            error: function (xhr, textStatus, errorThrown) {

                $("#div" + _contador + "dia" + _identificadorDia).html(_ingresoHorario);
                if (xhr.status === 0) {
                    $("#mensaje" + _identificadorDia).html('<div class="alert alert-danger text-center" role="alert">NO HAY CONEXIÓN A INTERNET. VERIFICA LA RED</div>');
                } else if (xhr.status == 404) {
                    $("#mensaje" + _identificadorDia).html('<div class="alert alert-danger text-center" role="alert">ERROR [404]. PÁGINA NO ENCONTRADA</div>');
                } else if (xhr.status == 500) {
                    $("#mensaje" + _identificadorDia).html('<div class="alert alert-danger text-center" role="alert">ERROR DEL SERVIDOR [500]</div>');
                } else if (errorThrown === 'parsererror') {
                    $("#mensaje" + _identificadorDia).html('<div class="alert alert-danger text-center" role="alert">LA PETICIÓN JSON HA FALLADO </div>');
                } else if (errorThrown === 'timeout') {
                    $("#mensaje" + _identificadorDia).html('<div class="alert alert-danger text-center" role="alert">TIEMPO DE ESPERA TERMINADO</div>');
                } else if (errorThrown === 'abort') {
                    $("#mensaje" + _identificadorDia).html('<div class="alert alert-danger text-center" role="alert">LA PETICIÓN AJAX FUE ABORTADA</div>');
                } else {
                    $("#mensaje" + _identificadorDia).html('<div class="alert alert-danger text-center" role="alert">OCURRIÓ UN ERROR INESPERADO</div>');
                }
            }
        });
    }


    function consultarHorarioPorConfigurarSemestre() {
        var _idConfigurarSemestreEncriptado = $('#selectModulo').val();
        $.ajax({
            url: '@Url.Action("Consultarhorarioporconfigurarsemestre", "ConfigurarHorario")',
            type: 'post',
            dataType: 'JSON',
            data: { _idConfigurarSemestreEncriptado: _idConfigurarSemestreEncriptado },
            beforeSend: function () {
                $("#contenedorHorarios").html('<div class="text-center"><img style="margin:0 auto 0 auto; text-aling:center; height: 150px;" src="@Url.Content("~/Content/img/cargando.gif")"></div>');
                $("#contenedorMensajes").html("");
            },
            uploadProgress: function (event, position, total, percentComplete) {
            },
            success: function (data) {
                if (data.validar == true) {
                    $("#contenedorHorarios").html(data.tabla);
                } else {
                    $("#contenedorHorarios").html(data.mensaje);
                }
            },
            complete: function () {
            },
            error: function (xhr, textStatus, errorThrown) {

                if (xhr.status === 0) {
                    $("#contenedorHorarios").html('<div class="alert alert-danger text-center" role="alert">NO HAY CONEXIÓN A INTERNET. VERIFICA LA RED</div>');
                } else if (xhr.status == 404) {
                    $("#contenedorHorarios").html('<div class="alert alert-danger text-center" role="alert">ERROR [404]. PÁGINA NO ENCONTRADA</div>');
                } else if (xhr.status == 500) {
                    $("#contenedorHorarios").html('<div class="alert alert-danger text-center" role="alert">ERROR DEL SERVIDOR [500]</div>');
                } else if (errorThrown === 'parsererror') {
                    $("#contenedorHorarios").html('<div class="alert alert-danger text-center" role="alert">LA PETICIÓN JSON HA FALLADO </div>');
                } else if (errorThrown === 'timeout') {
                    $("#contenedorHorarios").html('<div class="alert alert-danger text-center" role="alert">TIEMPO DE ESPERA TERMINADO</div>');
                } else if (errorThrown === 'abort') {
                    $("#contenedorHorarios").html('<div class="alert alert-danger text-center" role="alert">LA PETICIÓN AJAX FUE ABORTADA</div>');
                } else {
                    $("#contenedorHorarios").html('<div class="alert alert-danger text-center" role="alert">OCURRIÓ UN ERROR INESPERADO</div>');
                }
            }
        });
    }
    

    function cambiarModulosPorSemestre() {
        var _idMaestriaEncriptado = $('#selectMaestria').val();
        var _idCohorteEncriptado = $('#selectCohorte').val();
        var _idSemestreEncriptado = $('#selectSemestre').val();
        if (_idMaestriaEncriptado == "0" || _idCohorteEncriptado == "0" || _idSemestreEncriptado=="0") {
            $("#contenedorMensajes").html("");
            $("#contenedorHorarios").html("");
            $("#selectModulo").html("<option value='0'>SELECCIONE UN MÓDULO</option");
        }
        else {
            $.ajax({
                url: '@Url.Action("Cambiarmodulosporsemestre", "ConfigurarHorario")',
                type: 'post',
                dataType: 'JSON',
                data: { _idMaestriaEncriptado: _idMaestriaEncriptado, _idCohorteEncriptado: _idCohorteEncriptado, _idSemestreEncriptado: _idSemestreEncriptado },
                beforeSend: function () {
                    $("#selectModulo").html("<option value='0'>CARGANDO...</option");
                    $("#contenedorMensajes").html("");
                    $("#contenedorHorarios").html("");
                },
                uploadProgress: function (event, position, total, percentComplete) {
                },
                success: function (data) {
                    if (data.validar == true) {
                        $("#selectModulo").html(data.tabla);
                    } else {
                        $("#contenedorMensajes").html(data.mensaje);
                        $("#selectModulo").html("<option value='0'>SELECCIONE UN MÓDULO</option");
                    }
                },
                complete: function () {
                },
                error: function (xhr, textStatus, errorThrown) {

                    $("#selectModulo").html("<option value='0'>SELECCIONE UN MÓDULO</option");
                    if (xhr.status === 0) {
                        $("#contenedorMensajes").html('<div class="alert alert-danger text-center" role="alert">NO HAY CONEXIÓN A INTERNET. VERIFICA LA RED</div>');
                    } else if (xhr.status == 404) {
                        $("#contenedorMensajes").html('<div class="alert alert-danger text-center" role="alert">ERROR [404]. PÁGINA NO ENCONTRADA</div>');
                    } else if (xhr.status == 500) {
                        $("#contenedorMensajes").html('<div class="alert alert-danger text-center" role="alert">ERROR DEL SERVIDOR [500]</div>');
                    } else if (errorThrown === 'parsererror') {
                        $("#contenedorMensajes").html('<div class="alert alert-danger text-center" role="alert">LA PETICIÓN JSON HA FALLADO </div>');
                    } else if (errorThrown === 'timeout') {
                        $("#contenedorMensajes").html('<div class="alert alert-danger text-center" role="alert">TIEMPO DE ESPERA TERMINADO</div>');
                    } else if (errorThrown === 'abort') {
                        $("#contenedorMensajes").html('<div class="alert alert-danger text-center" role="alert">LA PETICIÓN AJAX FUE ABORTADA</div>');
                    } else {
                        $("#contenedorMensajes").html('<div class="alert alert-danger text-center" role="alert">OCURRIÓ UN ERROR INESPERADO</div>');
                    }
                }
            });
        }
    }
    function cambiarSemestrePorCohorte() {
        var _idMaestriaEncriptado = $('#selectMaestria').val();
        var _idCohorteEncriptado = $('#selectCohorte').val();
        if (_idMaestriaEncriptado == "0" || _idCohorteEncriptado == "0") {
            $("#contenedorMensajes").html("");
            $("#contenedorHorarios").html("");
            $("#selectSemestre").html("<option value='0'>SELECCIONE UN SEMESTRE</option");
        }
        else {
            $.ajax({
                url: '@Url.Action("Cambiarsemestreporcohorte", "ConfigurarHorario")',
                type: 'post',
                dataType: 'JSON',
                data: { _idMaestriaEncriptado: _idMaestriaEncriptado, _idCohorteEncriptado: _idCohorteEncriptado },
                beforeSend: function () {
                    $("#selectSemestre").html("<option value='0'>CARGANDO...</option");
                    $("#contenedorMensajes").html("");
                    $("#contenedorHorarios").html("");
                },
                uploadProgress: function (event, position, total, percentComplete) {
                },
                success: function (data) {
                    if (data.validar == true) {
                        $("#selectSemestre").html(data.tabla);
                    } else {
                        $("#contenedorMensajes").html(data.mensaje);
                        $("#selectSemestre").html("<option value='0'>SELECCIONE UN SEMESTRE</option");
                    }
                },
                complete: function () {
                },
                error: function (xhr, textStatus, errorThrown) {

                    $("#selectSemestre").html("<option value='0'>SELECCIONE UN SEMESTRE</option");
                    if (xhr.status === 0) {
                        $("#contenedorMensajes").html('<div class="alert alert-danger text-center" role="alert">NO HAY CONEXIÓN A INTERNET. VERIFICA LA RED</div>');
                    } else if (xhr.status == 404) {
                        $("#contenedorMensajes").html('<div class="alert alert-danger text-center" role="alert">ERROR [404]. PÁGINA NO ENCONTRADA</div>');
                    } else if (xhr.status == 500) {
                        $("#contenedorMensajes").html('<div class="alert alert-danger text-center" role="alert">ERROR DEL SERVIDOR [500]</div>');
                    } else if (errorThrown === 'parsererror') {
                        $("#contenedorMensajes").html('<div class="alert alert-danger text-center" role="alert">LA PETICIÓN JSON HA FALLADO </div>');
                    } else if (errorThrown === 'timeout') {
                        $("#contenedorMensajes").html('<div class="alert alert-danger text-center" role="alert">TIEMPO DE ESPERA TERMINADO</div>');
                    } else if (errorThrown === 'abort') {
                        $("#contenedorMensajes").html('<div class="alert alert-danger text-center" role="alert">LA PETICIÓN AJAX FUE ABORTADA</div>');
                    } else {
                        $("#contenedorMensajes").html('<div class="alert alert-danger text-center" role="alert">OCURRIÓ UN ERROR INESPERADO</div>');
                    }
                }
            });
        }
    }
     function cambiarCohortePorMaestria() {
        var _idMaestriaEncriptado = $('#selectMaestria').val();
        if (_idMaestriaEncriptado == "0") {
            $("#contenedorMensajes").html("");
            $("#contenedorHorarios").html("");
            $("#selectCohorte").html("<option value='0'>SELECCIONE UNA COHORTE</option");
        }
        else {
            $.ajax({
                url: '@Url.Action("Cambiarcohortepormaestria", "ConfigurarHorario")',
                type: 'post',
                dataType: 'JSON',
                data: { _idMaestriaEncriptado: _idMaestriaEncriptado },
                beforeSend: function () {
                    $("#selectCohorte").html("<option value='0'>CARGANDO...</option");
                    $("#contenedorMensajes").html("");
                    $("#contenedorHorarios").html("");
                },
                uploadProgress: function (event, position, total, percentComplete) {
                },
                success: function (data) {
                    if (data.validar == true) {
                        $("#selectCohorte").html(data.tabla);
                    } else {
                        $("#contenedorMensajes").html(data.mensaje);
                        $("#selectCohorte").html("<option value='0'>SELECCIONE UNA COHORTE</option");
                    }
                },
                complete: function () {
                },
                error: function (xhr, textStatus, errorThrown) {
                    $("#selectCohorte").html("<option value='0'>SELECCIONE UNA COHORTE</option");
                    if (xhr.status === 0) {
                        $("#contenedorMensajes").html('<div class="alert alert-danger text-center" role="alert">NO HAY CONEXIÓN A INTERNET. VERIFICA LA RED</div>');
                    } else if (xhr.status == 404) {
                        $("#contenedorMensajes").html('<div class="alert alert-danger text-center" role="alert">ERROR [404]. PÁGINA NO ENCONTRADA</div>');
                    } else if (xhr.status == 500) {
                        $("#contenedorMensajes").html('<div class="alert alert-danger text-center" role="alert">ERROR DEL SERVIDOR [500]</div>');
                    } else if (errorThrown === 'parsererror') {
                        $("#contenedorMensajes").html('<div class="alert alert-danger text-center" role="alert">LA PETICIÓN JSON HA FALLADO </div>');
                    } else if (errorThrown === 'timeout') {
                        $("#contenedorMensajes").html('<div class="alert alert-danger text-center" role="alert">TIEMPO DE ESPERA TERMINADO</div>');
                    } else if (errorThrown === 'abort') {
                        $("#contenedorMensajes").html('<div class="alert alert-danger text-center" role="alert">LA PETICIÓN AJAX FUE ABORTADA</div>');
                    } else {
                        $("#contenedorMensajes").html('<div class="alert alert-danger text-center" role="alert">OCURRIÓ UN ERROR INESPERADO</div>');
                    }
                }
            });
        }
    }
</script>

<script type="text/javascript">
    $(document).ready(function () {
        CargarFormulario();
    });

    function CargarFormulario() {
        $.ajax({
            url: '@Url.Action("Cargarformulario", "ConfigurarHorario")',
            type: 'post',
            dataType: 'JSON',
            beforeSend: function () {
                $("#contenedorOpciones").html('<div class="text-center"><img style="margin:0 auto 0 auto; text-aling:center; height: 150px;" src="@Url.Content("~/Content/img/cargando.gif")"></div>');
            },
            uploadProgress: function (event, position, total, percentComplete) {
            },
            success: function (data) {
                if (data.validar == true) {
                    $("#contenedorOpciones").html(data.tabla);
                } else {
                    $("#contenedorOpciones").html(data.mensaje);
                }
            },
            complete: function () {
            },
            error: function (xhr, textStatus, errorThrown) {
                if (xhr.status === 0) {
                    $("#contenedorOpciones").html('<div class="alert alert-danger text-center" role="alert">NO HAY CONEXIÓN A INTERNET. VERIFICA LA RED</div>');
                } else if (xhr.status == 404) {
                    $("#contenedorOpciones").html('<div class="alert alert-danger text-center" role="alert">ERROR [404]. PÁGINA NO ENCONTRADA</div>');
                } else if (xhr.status == 500) {
                    $("#contenedorOpciones").html('<div class="alert alert-danger text-center" role="alert">ERROR DEL SERVIDOR [500]</div>');
                } else if (errorThrown === 'parsererror') {
                    $("#contenedorOpciones").html('<div class="alert alert-danger text-center" role="alert">LA PETICIÓN JSON HA FALLADO </div>');
                } else if (errorThrown === 'timeout') {
                    $("#contenedorOpciones").html('<div class="alert alert-danger text-center" role="alert">TIEMPO DE ESPERA TERMINADO</div>');
                } else if (errorThrown === 'abort') {
                    $("#contenedorOpciones").html('<div class="alert alert-danger text-center" role="alert">LA PETICIÓN AJAX FUE ABORTADA</div>');
                } else {
                    $("#contenedorOpciones").html('<div class="alert alert-danger text-center" role="alert">OCURRIÓ UN ERROR INESPERADO</div>');
                }
            }
        });
    }
</script>
