@{
    Layout = "~/Views/Shared/_Administrador.cshtml";
}

<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Configurar Fechas Cohorte</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="@Url.Action("Inicio","Administrador")">Inicio</a></li>
                        <li class="breadcrumb-item active">Configurar Fechas Cohorte</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="card card-success">
                        <div class="card-header">
                            <h3 class="card-title">Es necesario que seleccione la maestría y la cohorte para configurar</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body" style="display: block;">
                            <div id="contenedorOpciones"></div>
                            <div id="contenedorOpcionesFechas"></div>
                            <div id="contenedorBotonGuardarConsultarEliminar"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="card card-success">
                        <div class="card-header">
                            <h3 class="card-title">Configuración registrada en el sistema</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body" style="display: block;">
                            <div id="contenedorMensajes"></div>
                            <div id="contenedorTablaConfigurarCohorte"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script>

     function cargarTablaFechaConfigurarCohorte() {
        $.ajax({
            url: '@Url.Action("Cargartablaconfigurarfechacohorte", "ConfigurarFechaCohorte")',
            type: 'post',
            dataType: 'JSON',
            beforeSend: function () {
                $("#contenedorTablaConfigurarCohorte").html('<div class="text-center"><img style="margin:0 auto 0 auto; text-aling:center; height: 150px;" src="@Url.Content("~/Content/img/cargando.gif")"></div>');
            },
            uploadProgress: function (event, position, total, percentComplete) {
            },
            success: function (data) {
                if (data.validar == true) {
                    $("#contenedorTablaConfigurarCohorte").html(data.tabla);
                } else {
                    $("#contenedorTablaConfigurarCohorte").html(data.mensaje);
                }
            },
            complete: function () {
            },
            error: function (xhr, textStatus, errorThrown) {
                if (xhr.status === 0) {
                    $("#contenedorTablaConfigurarCohorte").html('<div class="alert alert-danger text-center" role="alert">NO HAY CONEXIÓN A INTERNET. VERIFICA LA RED</div>');
                } else if (xhr.status == 404) {
                    $("#contenedorTablaConfigurarCohorte").html('<div class="alert alert-danger text-center" role="alert">ERROR [404]. PÁGINA NO ENCONTRADA</div>');
                } else if (xhr.status == 500) {
                    $("#contenedorTablaConfigurarCohorte").html('<div class="alert alert-danger text-center" role="alert">ERROR DEL SERVIDOR [500]</div>');
                } else if (errorThrown === 'parsererror') {
                    $("#contenedorTablaConfigurarCohorte").html('<div class="alert alert-danger text-center" role="alert">LA PETICIÓN JSON HA FALLADO </div>');
                } else if (errorThrown === 'timeout') {
                    $("#contenedorTablaConfigurarCohorte").html('<div class="alert alert-danger text-center" role="alert">TIEMPO DE ESPERA TERMINADO</div>');
                } else if (errorThrown === 'abort') {
                    $("#contenedorTablaConfigurarCohorte").html('<div class="alert alert-danger text-center" role="alert">LA PETICIÓN AJAX FUE ABORTADA</div>');
                } else {
                    $("#contenedorTablaConfigurarCohorte").html('<div class="alert alert-danger text-center" role="alert">OCURRIÓ UN ERROR INESPERADO</div>');
                }
            }
        });
    }

    function eliminarConfigurarCohorte(_numFila, _idConfigurarCohorteEncriptado) {
        var _clase = $("#btn" + _numFila).attr("class");
        $.ajax({
            url: '@Url.Action("Eliminarconfigurarcohorte", "ConfigurarFechaCohorte")',
            type: 'post',
            dataType: 'JSON',
            data: {
                _idConfigurarCohorteEncriptado: _idConfigurarCohorteEncriptado
            },
            beforeSend: function () {
                $("#btn" + _numFila).html("<i class='fas fa-spinner'></i>");
            },
            uploadProgress: function (event, position, total, percentComplete) {
            },
            success: function (data) {
                if (data.validar == true) {
                    $("#" + _numFila).remove();
                    $("#contenedorMensajes").html("");
                    cambiarCohortePorMaestria();
                    cargarFormularioFechasConfigurarCohorte();
                } else {
                    $("#btn" + _numFila).html("<i class='" + _clase + "'></i>");
                    $("#contenedorMensajes").html(data.mensaje);
                }
            },
            complete: function () {
            },
            error: function (xhr, textStatus, errorThrown) {
                $("#btn" + _numFila).html("<i class='" + _clase + "'></i>");
                if (xhr.status === 0) {
                    $("#contenedorMensajes").html('<div class="alert alert-danger text-center" role="alert">NO HAY CONEXIÓN A INTERNET. VERIFICA LA RED</div>');
                } else if (xhr.status == 404) {
                    $("#contenedorMensajes").html('<div class="alert alert-danger text-center" role="alert">ERROR [404]. PÁGINA NO ENCONTRADA</div>');
                } else if (xhr.status == 500) {
                    $("#contenedorMensajes").html('<div class="alert alert-danger text-center" role="alert">ERROR DEL SERVIDOR [500]</div>');
                } else if (errorThrown === 'parsererror') {
                    $("#contenedorMensajes").html('<div class="alert alert-danger text-center" role="alert">LA PETICIÓN JSON HA FALLADO </div>');
                } else if (errorThrown === 'timeout') {
                    $("#contenedorMensajes").html('<div class="alert alert-danger text-center" role="alert">TIEMPO DE ESPERA TERMINADO</div>');
                } else if (errorThrown === 'abort') {
                    $("#contenedorMensajes").html('<div class="alert alert-danger text-center" role="alert">LA PETICIÓN AJAX FUE ABORTADA</div>');
                } else {
                    $("#contenedorMensajes").html('<div class="alert alert-danger text-center" role="alert">OCURRIÓ UN ERROR INESPERADO</div>');
                }
            }
        });
    }



    function guardarConfigurarCohorte() {
        var _idMaestriaEncriptado = $('#selectMaestria').val();
        var _idCohorteEncriptado = $('#selectCohorte').val();
        var _fechaInicio = $("#inputFechaInicio").val();
        var _fechaFin = $("#inputFechaFin").val();
        if (_idCohorteEncriptado == "0") {
            $("#contenedorOpcionesFechas").html("");
        }
        else {
            $.ajax({
                url: '@Url.Action("GuardarconfigurarCohorte", "ConfigurarFechaCohorte")',
                type: 'post',
                dataType: 'JSON',
                data: { _idMaestriaEncriptado: _idMaestriaEncriptado, _idCohorteEncriptado: _idCohorteEncriptado, _fechaInicio: _fechaInicio, _fechaFin: _fechaFin},
                beforeSend: function () {
                    $("#contenedorMensajes").html('<div class="text-center"><img style="margin:0 auto 0 auto; text-aling:center; height: 150px;" src="@Url.Content("~/Content/img/cargando.gif")"></div>');
                },
                uploadProgress: function (event, position, total, percentComplete) {
                },
                success: function (data) {
                    if (data.validar == true) {
                        $("#contenedorMensajes").html("");
                        $("#contenedorOpcionesFechas").html(data.fechas);
                        $("#contenedorBotonGuardarConsultarEliminar").html("");
                        cargarTablaFechaConfigurarCohorte();
                    } else {
                        $("#contenedorMensajes").html(data.mensaje);
                        setTimeout(function () {
                            $("#contenedorMensajes").html("");
                        }, 4000);
                    }
                },
                complete: function () {
                },
                error: function (xhr, textStatus, errorThrown) {
                    if (xhr.status === 0) {
                        $("#contenedorMensajes").html('<div class="alert alert-danger text-center" role="alert">NO HAY CONEXIÓN A INTERNET. VERIFICA LA RED</div>');
                    } else if (xhr.status == 404) {
                        $("#contenedorMensajes").html('<div class="alert alert-danger text-center" role="alert">ERROR [404]. PÁGINA NO ENCONTRADA</div>');
                    } else if (xhr.status == 500) {
                        $("#contenedorMensajes").html('<div class="alert alert-danger text-center" role="alert">ERROR DEL SERVIDOR [500]</div>');
                    } else if (errorThrown === 'parsererror') {
                        $("#contenedorMensajes").html('<div class="alert alert-danger text-center" role="alert">LA PETICIÓN JSON HA FALLADO </div>');
                    } else if (errorThrown === 'timeout') {
                        $("#contenedorMensajes").html('<div class="alert alert-danger text-center" role="alert">TIEMPO DE ESPERA TERMINADO</div>');
                    } else if (errorThrown === 'abort') {
                        $("#contenedorMensajes").html('<div class="alert alert-danger text-center" role="alert">LA PETICIÓN AJAX FUE ABORTADA</div>');
                    } else {
                        $("#contenedorMensajes").html('<div class="alert alert-danger text-center" role="alert">OCURRIÓ UN ERROR INESPERADO</div>');
                    }
                }
            });
        }
    }

    function cargarFormularioFechasConfigurarCohorte() {
        var _idMaestriaEncriptado = $('#selectMaestria').val();
        var _idCohorteEncriptado = $('#selectCohorte').val();
        if (_idCohorteEncriptado == "0") {
            $("#contenedorOpcionesFechas").html("");
            $("#contenedorMensajes").html("");
        }
        else {
            $.ajax({
                url: '@Url.Action("Cargarformulariofechasconfigurarcohorte", "ConfigurarFechaCohorte")',
                type: 'post',
                dataType: 'JSON',
                data: { _idMaestriaEncriptado: _idMaestriaEncriptado, _idCohorteEncriptado: _idCohorteEncriptado},
                beforeSend: function () {
                    $("#contenedorOpcionesFechas").html('<div class="text-center"><img style="margin:0 auto 0 auto; text-aling:center; height: 150px;" src="@Url.Content("~/Content/img/cargando.gif")"></div>');
                    $("#contenedorBotonGuardarConsultarEliminar").html('<div class="text-center"><img style="margin:0 auto 0 auto; text-aling:center; height: 150px;" src="@Url.Content("~/Content/img/cargando.gif")"></div>');
                    $("#contenedorMensajes").html("");
                },
                uploadProgress: function (event, position, total, percentComplete) {
                },
                success: function (data) {
                    if (data.validar == true) {
                        $("#contenedorOpcionesFechas").html(data.inputFechas);
                        $("#contenedorBotonGuardarConsultarEliminar").html(data.botones);
                    } else {
                        $("#contenedorOpcionesFechas").html(data.mensaje);
                        $("#contenedorBotonGuardarConsultarEliminar").html(data.mensaje);
                    }
                },
                complete: function () {
                },
                error: function (xhr, textStatus, errorThrown) {
                    $("#contenedorBotonGuardarConsultarEliminar").html("");
                    if (xhr.status === 0) {
                        $("#contenedorOpcionesFechas").html('<div class="alert alert-danger text-center" role="alert">NO HAY CONEXIÓN A INTERNET. VERIFICA LA RED</div>');
                    } else if (xhr.status == 404) {
                        $("#contenedorOpcionesFechas").html('<div class="alert alert-danger text-center" role="alert">ERROR [404]. PÁGINA NO ENCONTRADA</div>');
                    } else if (xhr.status == 500) {
                        $("#contenedorOpcionesFechas").html('<div class="alert alert-danger text-center" role="alert">ERROR DEL SERVIDOR [500]</div>');
                    } else if (errorThrown === 'parsererror') {
                        $("#contenedorOpcionesFechas").html('<div class="alert alert-danger text-center" role="alert">LA PETICIÓN JSON HA FALLADO </div>');
                    } else if (errorThrown === 'timeout') {
                        $("#contenedorOpcionesFechas").html('<div class="alert alert-danger text-center" role="alert">TIEMPO DE ESPERA TERMINADO</div>');
                    } else if (errorThrown === 'abort') {
                        $("#contenedorOpcionesFechas").html('<div class="alert alert-danger text-center" role="alert">LA PETICIÓN AJAX FUE ABORTADA</div>');
                    } else {
                        $("#contenedorOpcionesFechas").html('<div class="alert alert-danger text-center" role="alert">OCURRIÓ UN ERROR INESPERADO</div>');
                    }
                }
            });
        }
    }


    function cambiarCohortePorMaestria() {
        var _idMaestriaEncriptado = $('#selectMaestria').val();
        if (_idMaestriaEncriptado == "0") {
            $("#contenedorMensajes").html("");
            $("#selectCohorte").html("<option value='0'>SELECCIONE UNA COHORTE</option");
            $("#contenedorOpcionesFechas").html("");
            $("#contenedorBotonGuardarConsultarEliminar").html("");
        }
        else {
            $.ajax({
                url: '@Url.Action("Cambiarcohortepormaestria", "ConfigurarCohorte")',
                type: 'post',
                dataType: 'JSON',
                data: { _idMaestriaEncriptado: _idMaestriaEncriptado },
                beforeSend: function () {
                    $("#selectCohorte").html("<option value='0'>CARGANDO...</option");
                    $("#contenedorMensajes").html("");
                    $("#contenedorOpcionesFechas").html("");
                    $("#contenedorBotonGuardarConsultarEliminar").html("");
                },
                uploadProgress: function (event, position, total, percentComplete) {
                },
                success: function (data) {
                    if (data.validar == true) {
                        $("#selectCohorte").html(data.tabla);
                    } else {
                        $("#contenedorMensajes").html(data.mensaje);
                        $("#selectCohorte").html("<option value='0'>SELECCIONE UNA COHORTE</option");
                    }
                },
                complete: function () {
                },
                error: function (xhr, textStatus, errorThrown) {
                    $("#selectCohorte").html("<option value='0'>SELECCIONE UNA COHORTE</option");
                    if (xhr.status === 0) {
                        $("#contenedorMensajes").html('<div class="alert alert-danger text-center" role="alert">NO HAY CONEXIÓN A INTERNET. VERIFICA LA RED</div>');
                    } else if (xhr.status == 404) {
                        $("#contenedorMensajes").html('<div class="alert alert-danger text-center" role="alert">ERROR [404]. PÁGINA NO ENCONTRADA</div>');
                    } else if (xhr.status == 500) {
                        $("#contenedorMensajes").html('<div class="alert alert-danger text-center" role="alert">ERROR DEL SERVIDOR [500]</div>');
                    } else if (errorThrown === 'parsererror') {
                        $("#contenedorMensajes").html('<div class="alert alert-danger text-center" role="alert">LA PETICIÓN JSON HA FALLADO </div>');
                    } else if (errorThrown === 'timeout') {
                        $("#contenedorMensajes").html('<div class="alert alert-danger text-center" role="alert">TIEMPO DE ESPERA TERMINADO</div>');
                    } else if (errorThrown === 'abort') {
                        $("#contenedorMensajes").html('<div class="alert alert-danger text-center" role="alert">LA PETICIÓN AJAX FUE ABORTADA</div>');
                    } else {
                        $("#contenedorMensajes").html('<div class="alert alert-danger text-center" role="alert">OCURRIÓ UN ERROR INESPERADO</div>');
                    }
                }
            });
        }
    }
</script>

<script type="text/javascript">
    $(document).ready(function () {
        CargarFormulario();
        cargarTablaFechaConfigurarCohorte();
    });

    function CargarFormulario() {
        $.ajax({
            url: '@Url.Action("Cargarformulario", "ConfigurarFechaCohorte")',
            type: 'post',
            dataType: 'JSON',
            beforeSend: function () {
                $("#contenedorOpciones").html('<div class="text-center"><img style="margin:0 auto 0 auto; text-aling:center; height: 150px;" src="@Url.Content("~/Content/img/cargando.gif")"></div>');
            },
            uploadProgress: function (event, position, total, percentComplete) {
            },
            success: function (data) {
                if (data.validar == true) {
                    $("#contenedorOpciones").html(data.tabla);
                } else {
                    $("#contenedorOpciones").html(data.mensaje);
                }
            },
            complete: function () {
            },
            error: function (xhr, textStatus, errorThrown) {
                if (xhr.status === 0) {
                    $("#contenedorOpciones").html('<div class="alert alert-danger text-center" role="alert">NO HAY CONEXIÓN A INTERNET. VERIFICA LA RED</div>');
                } else if (xhr.status == 404) {
                    $("#contenedorOpciones").html('<div class="alert alert-danger text-center" role="alert">ERROR [404]. PÁGINA NO ENCONTRADA</div>');
                } else if (xhr.status == 500) {
                    $("#contenedorOpciones").html('<div class="alert alert-danger text-center" role="alert">ERROR DEL SERVIDOR [500]</div>');
                } else if (errorThrown === 'parsererror') {
                    $("#contenedorOpciones").html('<div class="alert alert-danger text-center" role="alert">LA PETICIÓN JSON HA FALLADO </div>');
                } else if (errorThrown === 'timeout') {
                    $("#contenedorOpciones").html('<div class="alert alert-danger text-center" role="alert">TIEMPO DE ESPERA TERMINADO</div>');
                } else if (errorThrown === 'abort') {
                    $("#contenedorOpciones").html('<div class="alert alert-danger text-center" role="alert">LA PETICIÓN AJAX FUE ABORTADA</div>');
                } else {
                    $("#contenedorOpciones").html('<div class="alert alert-danger text-center" role="alert">OCURRIÓ UN ERROR INESPERADO</div>');
                }
            }
        });
    }
</script>



